* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-RSA {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}
.container-input {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
span {
  display: inline-block;
  width: 30px;
  height: 30px;
}
input {
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.key-RSA {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button.gene {
  width: 78%;
  float: right;
  height: 40px;
  margin-bottom: 20px;
}
.text-RSA {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  margin-left: 20px;
}
.text > span {
  margin-left: 20px;
}
.text > input {
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}
.output-RSA {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.encrypt-RSA {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.encrypt-RSA > span {
  width: 300px;
  height: 50px;

  text-align: center;
  padding: 10px;
}
.encrypt-RSA > button {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}
